<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Homeshell_Desktop_Enviorment_for_Windows.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Homeshell_Desktop_Enviorment_for_Windows.My.MySettings>
            <setting name="wallpaper" serializeAs="String">
                <value />
            </setting>
            <setting name="uiColor" serializeAs="String">
                <value />
            </setting>
            <setting name="quickNote" serializeAs="String">
                <value />
            </setting>
            <setting name="toDo1" serializeAs="String">
                <value />
            </setting>
            <setting name="toDo2" serializeAs="String">
                <value />
            </setting>
            <setting name="toDo3" serializeAs="String">
                <value />
            </setting>
            <setting name="toDo4" serializeAs="String">
                <value />
            </setting>
            <setting name="toDo5" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </Homeshell_Desktop_Enviorment_for_Windows.My.MySettings>
    </userSettings>
</configuration>
